$border-style: 2px solid;
$customer-color: #228B22;

@mixin dimensions($height, $width) {
	height: $height;
	width: $width;
}

@mixin button-border($border, $border-radius) {
	border: $border;
	border-radius: $border-radius;
}


#customer {
	border-color: $customer-color;
	line-height: 2;

	& p,
	h2 {
		font-size: 22px;
		line-height: 2;
	}

	& form {

		& input {
			@include dimensions(25px, 200px);
			min-width: 200px;
			border: solid gray .5px;
			border-radius: 2px;
			margin: 0px 0px 0px 10px;
		}

	}

	& #enter-new-user {

		& label {
			font-weight: bold;
		}

		& input {
			font-size: 14px;
		}

	}

}