$primary-background: #FDFDFD;
$main-color: #00008B;
$border-style: 2px solid;

@mixin dimensions($height, $width) {
	height: $height;
	width: $width;
}

@mixin button-border($border, $border-radius) {
	border: $border;
	border-radius: $border-radius;
}

body {
  @include dimensions(100%, 98%);
	font-family: 'IBM Plex Sans', 'Arial', sans-serif; 
	color: #303030;
  background-color: $primary-background;
  padding: 10px;
}

main {
	@include dimensions(100%, 100%)
}

legend {
	display: none;
}

.splash {
	@include dimensions(250px, 400px);
	background-color: lighten($main-color, 71%);
	color: $main-color;
	display: none;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 40%;
	left: 35%;

	& h2 {
		margin: 75px 0px 10px 0px;
	}

}

.tab-content {
	@include dimensions(72vh, 95.5%);
	padding: 25px;
	border: $border-style;
	overflow: scroll;

	& button {
		@include button-border(.5px solid gainsboro, 10px);
		font-size: 16px;
		margin: 0px 0px 10px 0px;

		&:hover {
			font-style: italic;
			color: green;
		}

		&:focus {
			outline: none;
			@include button-border(1.5px solid blue, 10px);
		}

	}

}