$border-style: 2px solid;
$order-color: #960B0B;

@mixin dimensions($height, $width) {
	height: $height;
	width: $width;
}

@mixin button-border($border, $border-radius) {
	border: $border;
	border-radius: $border-radius;
}

@mixin table-style($display, $overflow, $margin, $padding, $text-align, $table-border) {
	display: $display;
	overflow: $overflow;
	margin: $margin;
	padding: $padding;
	text-align: $text-align;
	border: $table-border;
}

#roomservice {
	border-color: $order-color;

	& p {
		font-size: 16px;
		line-height: 2;
	}

	& span {
		font-weight: bold;
		margin: 0px 10px 0px 20px;
	}

	& label {
		font-size: 16px;
		font-weight: bold;
		margin: 0px 0px 0px 35px;
	}

	& input {
		font-size: 16px;
		text-align: center;
		@include dimensions(20px, 100px);
	}

	& #menu-table {
		@include dimensions(300px, max-content);
		@include table-style(block, scroll, 15px, 10px, center, solid 1px lightgray);

		& tbody tr:nth-child(odd) {
			background-color: ghostwhite;
		}

		& thead {
			font-size: 18px;
		}

		& td {
			padding: 10px;
		}

	}

	& #user-orders {
		@include dimensions(max-content, max-content);
		@include table-style(block, scroll, 15px, 10px, center, solid 1px lightgray);

		& tbody tr:nth-child(odd) {
			background-color: ghostwhite;
		}

		& thead {
			font-size: 18px;
			font-weight: bold;
		}

		& td {
			padding: 10px;
		}

		& tfoot {
			text-weight: bold;
		}

	}

	& #confirm-menu-purchase,
		#confirm-new-booking {
		margin: 0px 0px 10px 15px;
	}

	& #no-orders-by-date {
			margin: 0px 0px 10px 52px;
	}

}	
