$border-style: 2px solid;
$room-color: #FFD700;

@mixin dimensions($height, $width) {
	height: $height;
	width: $width;
}

@mixin button-border($border, $border-radius) {
	border: $border;
	border-radius: $border-radius;
}

@mixin table-style($display, $overflow, $margin, $padding, $text-align, $table-border) {
	display: $display;
	overflow: $overflow;
	margin: $margin;
	padding: $padding;
	text-align: $text-align;
	border: $table-border;
}

#bookings-search {

	& label {
		font-size: 16px;
		font-weight: bold;
	}

	& input {
		font-size: 16px;
		text-align: center;
		@include dimensions(20px, 100px);
	}

}

#room {
	display: flex;
	border-color: $room-color;
	text-align: center;

	& form {
		line-height: 2;
	}

	& #room-left {
		@include dimensions(99%, 48%);
		margin: 0px 5px 0px 0px;

		& p {
			margin: 0px 0px 15px 0px
		}

		& #no-customer-bookings-line {
			margin: 0px 0px 15px 55px;
			text-align: left;
		}

	}

	& #room-right {
		@include dimensions(99%, 48%);
		margin: 0px 0px 0px 5px;
	}

	& #unpopular-date {
		margin: 0px 0px 15px 0px;
	}

	& #user-bookings {
		@include dimensions(400px, max-content);
		@include table-style(block, scroll, 15px, 10px, center, solid 1px lightgray);

		& tbody tr:nth-child(odd) {
			background-color: ghostwhite;
		}

		& thead {
			font-size: 18px;
			font-weight: bold;
		}

		& td {
			padding: 5px;
		}

	}

	& #rooms-available {
		@include dimensions(400px, max-content);
		@include table-style(block, scroll, 15px 0px 0px 100px, 10px, center, solid 1px lightgray);

		& tbody tr:nth-child(odd) {
			background-color: ghostwhite;
		}

		& thead {
			font-size: 18px;
			font-weight: bold;
		}

		& td {
			padding: 5px;
		}

	}

	& #room-table {
		@include dimensions(max-content, max-content);
		@include table-style(block, scroll, 15px 15px 15px 65px, 10px, center, solid 1px lightgray);
		max-height: 400px;

		& tbody tr:nth-child(odd) {
			background-color: ghostwhite;
		}

		& thead {
			font-size: 18px;
			font-weight: bold;
		}

		& td {
			padding: 5px;
		}

		& button {
			@include button-border(.5px solid transparent, 10px);
			background: transparent;

			&:hover {
				font-style: italic;
				color: red;
			}

			&:focus {
				outline: none;
				@include button-border(1.5px solid blue, 10px);
			}

		}

	}

	& #booking-button {
		margin: 0px 210px 0px 0px;

		&:hover {
			font-style: italic;
			color: red;
		}

		&:focus {
			outline: none;
			@include button-border(1.5px solid blue, 10px);
		}

	}

	& #confirm-new-booking {
		@include button-border(.5px solid gainsboro, 10px);
		margin: 0px 0px 10px 10px;

		&:hover {
			font-style: italic;
			color: red;
		}

		&:focus {
			outline: none;
			@include button-border(1.5px solid blue, 10px);
		}

	}

	& #menu-button {
		@include button-border(.5px solid gainsboro, 10px);
		margin: 0px 0px 10px 10px;

		&:hover {
			font-style: italic;
			color: red;
		}

		&:focus {
			outline: none;
			@include button-border(1.5px solid blue, 10px);
		}

	}

}