$border-style: 2px solid;
$main-color: #00008B;
$customer-color: #228B22;
$room-color: #FFD700;
$order-color: #960B0B;

@mixin dimensions($height, $width) {
	height: $height;
	width: $width;
}

.tab-link {
	@include dimensions(50px, 24%);
	border: $border-style;
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
	display: inline-block;
	margin: 0px 3px 0px 0px;
	font-size: 16px;
	font-weight: 600;
	outline: blue;
	cursor: grab;

	&#main-tab {
		border-color: $main-color;

	}

	&#customer-tab {
		border-color: $customer-color;
	}

	&#room-tab {
		border-color: $room-color;
	}

	&#roomservice-tab {
		border-color: $order-color;
	}

	&:hover {
		font-style: italic;
		background-color: lighten(gainsboro, 8%);
		color: red;
	}

	&:focus {
		background-color: rgba(0, 255, 255, .5);
	}

}