$border-style: 2px solid;
$main-color: #00008B;
$customer-color: #228B22;
$room-color: #FFD700;
$order-color: #960B0B;

@mixin dimensions($height, $width) {
	height: $height;
	width: $width;
}

@mixin button-border($border, $border-radius) {
	border: $border;
	border-radius: $border-radius;
}

.tab-content {
	@include dimensions(72vh, 95.5%);
	padding: 25px;
	border: $border-style;
	overflow: scroll;

	&#main {
		border-color: $main-color;

		& div {
			@include dimensions(300px, 500px);
			border: solid 1px gray;
			background-color: rgba(211, 211, 211, .3);
			padding: 10px;
		}

		& p {
			line-height: 2;
			opacity: 1;
		}

		& span {
			font-weight: bold;
		}

		& #current-date {
			font-size: 26px;
		}

	}

	&#customer {
		border-color: $customer-color;
		line-height: 2;

		& p,
		h2 {
			font-size: 22px;
			line-height: 2;
		}

		& form {
			// line-height:

			& legend {
				display: none;
			}

			& input {
				@include dimensions(25px, 200px);
				min-width: 200px;
				border: solid gray .5px;
				border-radius: 2px;
				margin: 0px 0px 0px 10px;
			}
		}

		& button {
			@include button-border(.5px solid gainsboro, 10px);
			font-size: 16px;
			margin: 0px 0px 10px 0px;

			&:hover {
				font-style: italic;
				color: red;
			}

			&:focus {
				outline: none;
				@include button-border(.5px solid blue, 10px);
			}

		}

	}

	&#room {
		border-color: $room-color;

		& #user-bookings {
			@include dimensions(300px, 400px);
			overflow: scroll;
			border: solid 1px gray;
			background-color: rgba(211, 211, 211, .3);
			padding: 10px;
		}

		& #room-list {
			@include dimensions(300px, 450px);
			line-height: 1.5;
			overflow: scroll;
			border: solid 1px gray;
			background-color: rgba(211, 211, 211, .3);
			padding: 10px;

			& button {
				@include button-border(.5px solid transparent, 10px);
				background: none;
				font-size: 16px;

				&:hover {
					font-style: italic;
					color: red;
				}			
				
				&:focus {
					outline: none;
					@include button-border(.5px solid blue, 10px);
				}

			}

		}

		& p {
			font-size: 16px;
			line-height: 1.5;
		}

		& span {
			font-weight: bold;
			margin: 0px 10px 0px 20px;
		}
	}

	&#roomservice {
		border-color: $order-color;

		& p {
			font-size: 16px;
			line-height: 2;
		}

		& span {
			font-weight: bold;
			margin: 0px 10px 0px 20px;
		}
	}	

}